:root {
    --primary-color: #8a6530; // Золотой цвет
    --secondary-color: #c8a46b;
    --text-color: #fff;
  }
  
  body {
    background-color: #f4f4f4;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    padding: 15px 0;
    
    .header-logo img {
      max-width: 70px;
    }
  
    .navbar {
      display: flex;
      justify-content: center;
      
      .nav-links {
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
        
        li {
          list-style: none;
          
          a {
            color: var(--text-color);
            font-weight: 700;
            font-size: 20px;
            padding: 10px 0;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
  
            &:hover {
              color: var(--secondary-color);
            }
          }
        }
      }
    }
  
    .call-meet button {
      background: var(--secondary-color);
      border: none;
      color: var(--text-color);
      font-size: 16px;
      font-weight: 700;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
  
      &:hover {
        background: var(--primary-color);
      }
    }
  
    // Бургер-меню для мобильной версии
    .menu-toggle {
      display: none;
      flex-direction: column;
      cursor: pointer;
      
      span {
        width: 25px;
        height: 3px;
        background: var(--text-color);
        margin: 5px 0;
        transition: 0.3s ease-in-out;
      }
    }
  
    @media (max-width: 768px) {
      .navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: var(--primary-color);
        text-align: center;
        padding: 10px 0;
      }
  
      .navbar .nav-links.active {
        display: flex;
      }
  
      .menu-toggle {
        display: flex;
      }
    }
  }